/*CSS Document*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
body{
    background-color: #433322;
    font-family: 'Roboto';
}


#navbar{
    background-color: #4E2400;
    width: 100%;
    height: 5%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
}
#navbar img{
    width: 50px;
    float: left;
}
#navbar a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    padding-left: 15px;
    padding-right: 15px;


}
#navbar a:hover{
    color: #FFA558;
    background-color: #7E4B17;
    border-style: solid;
    border-width: 2px;
    padding: 12px;
    border-radius: 25px;
}
#content{

height:100%;
margin-top:50px;
margin-left:7%;
margin-Right:7%;
background-color:#907455;
}
#main-content{
margin-top:70px;
margin-left:2%;
margin-Right:2%;

}
.zcard {
background-color:#B89067;
border-radius:15px;

}
.zcard p{
margin-left:15px;
}
.AIread{
    font-family: Libre Barcode 39 Text;
    font-size: 90px;
    text-align:center;
    color:black;
}